@using CarRentalManagement.Shared.Domain

@page "/customers/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Car Customers</h3>
@if (customers == null)
{
    <div class="alert alert-info">Loading customers...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Driving License</th>
                <th>Contact Number</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.DrivingLicense</td>
                    <td>@customer.ContactNumber</td>
                    <td>@customer.EmailAddress</td>
                    <td>
                        <a href="customers/view/@customer.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="customers/edit/@customer.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Customer>? customers; // Ensure Customer is the correct class

    protected override async Task OnInitializedAsync()
    {
        customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

}
